
        <div id="table-list" class="container glass">
            <table id="mtn-render" class="table ">
                <thead class="thead-dark align-middle">
                    <tr>
                        <th class="w2  h9 align-middle">Favorite</th>
                        <th class="w2  align-middle">Rank</th>
                        <th class="w10  align-middle">Mountain</th>
                        <th class="w8  align-middle">Elevation</th>
                        <th class="w8  align-middle">Wind Direction</th>
                        <th class="w8  align-middle">Wind Speed</th>
                        <th class="w8  align-middle">Current Temp</th>
                        <th class="w10  align-middle">Short Forecast</th>
                        <th class="w6 align-middle">Distance from You</th>
                        <th class="w2  align-middle"><i class="fas fa-plus-square fa-minus-square fa-2x ghost"></i></th>
                    </tr>
                </thead>
            </table>
            <% 
            mtns.forEach(function(mtn) {             
            %>
                
            <!--Mtn-X-Table **Dynamially render mtn-# based on array-->
            <table id="mtn-<%=mtn.id%>" class="mtn-template table">
                <thead class="thead-dark thead-hide">
                    <tr>
                        <th class="w2">Favorite</th>
                        <th class="w2">Rank</th>
                        <th class="w10">Mountain</th>
                        <th class="w8">Elevation</th>
                        <th class="w8">Wind Direction</th>
                        <th class="w8">Wind Speed</th>
                        <th class="w8">Current Temp</th>
                        <th class="w10">Short Forecast</th>
                        <th class="w6">Distance to You</th>
                        <th class="w2"><i class="fas fa-plus-square fa-minus-square fa-2x"></i></th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="conditions">
                            
                        <!--turn background color of entire row green, yellow, or red depending on conditional params-->
                        <td class="align-middle"><i value="false" class="favorite far fa-heart fa-2x"></i></td>
                        <td class="rank align-middle"><%=mtn.rank %></td>
                        <td class="name align-middle"><%=mtn.peakName%></td>
                        <td class="elevation align-middle"><%=mtn.elevation%></td>
                        <td id="<%=mtn.id%>-wind-direction" class="wind-direction align-middle"></td>
                        <td id="<%=mtn.id%>-wind" class="windspeed align-middle"></td>
                        <td id="<%=mtn.id%>-temperature" class="temperature align-middle"></td>
                        <td id="mtn-1-short-forecast" class="short-forecast align-middle"></td>
                        <td class="distance align-middle">&mdash;mi</td>
                        <td class="align-middle toggle-show-routes-btn"><i role="button" id="<%=mtn.id%>" class="fas fa-plus-square fa-minus-square fa-2x"></i></td>
                    </tr>


                    <!-- Routes sub-Table -->
                    <tr class="mh0">
                        <td id="hideMe" colspan="10 px0">
                            <div id="<%=mtn.id%>-routes" class="routes-table">
                                <table id="route-render" class="table sub-table">
                                    <thead class="glass sub-table">
                                        <tr class="">
                                            <th class="w20 align-middle">Route Name</th>
                                            <th class="align-middle">Mileage</th>
                                            <th class="align-middle">Gain (ft.)</th>
                                            <th class="align-middle">Difficulty</th>
                                            <th class="align-middle">Fall Exposure</th>
                                            <th class="w2 align-middle">Route Beta</th>
                                        </tr>
                                    </thead>
                                </table>
                                <!--mtn-routes-table is nested in mtn-table via JQuery-->
                                <% include ../partials/mtn-routes-table %>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            
        <% });//end for loop over mountains %>
        </div>
